@font-face {
  font-family: 'morpheus';
  src: url('../fonts/morpheus.ttf') format('truetype');
}

@font-face {
  font-family: 'ElseNPL-Light';
  src: url('../fonts/ElseNPLStd-Light.otf') format('truetype');
}

@font-face {
  font-family: 'ElseNPL-Medium';
  src: url('../fonts/ElseNPLStd-Medium.otf') format('truetype');
}