#mapid {
    width: 100%;
    height: 100vh;
}

.map-home-container {
    width: 100%;
    height: 100vh;
    //overflow: hidden;
    //display: flex;
    //align-items: center;
    //justify-content: center;

    .map-home-content {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../img/cosmic_bg.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .outland-container {
            position: absolute;
            bottom: 9.09%;
            left: 6vw;
            height: 35.97%;

            @include breakpoint(xlarge){
                bottom: 15%;
                left: 2vw;
                height: 33.97%;
            }

            @include breakpoint(large){
                bottom: 23%;
                height: 28.97%;
            }

            a {
                position: relative;
            }

            #outland {
                height: 100%;
            }
        }

        .draenor-container {
            position: absolute;
            height: 34.63%;
            top: 23.03%;
            left: 34.8vw;

            @include breakpoint(xlarge){
                left: 30vw;
                height: 32.63%;
            }

            @include breakpoint(large){
                top: 10%;
                height: 27.63%;
            }

            @include breakpoint(small){
                position: relative;
                width: 100%;
                left: 0;
            }

            #draenor {
                height: 100%;
            }
        }

        .argus-container {
            position: absolute;
            height: 28.63%;
            bottom: 3.03%;
            left: 38vw;

            @include breakpoint(xlarge){
                left: 36vw;
                height: 26.63%;
            }

            @include breakpoint(large){
                height: 21.63%;
            }

            a {
                position: relative;
            }

            #argus {
                height: 100%;
                margin-right: 7%;
            }
        }
        .azeroth-container {
            position: absolute;
            height: 60.79%;
            bottom: 0.9%;
            right: 1vw;

            @include breakpoint(xlarge){
                bottom: 13%;
                height: 56.79%;
            }

            @include breakpoint(large){
                bottom: 20%;
                height: 51.79%;
            }

            a {
                display: inline-block;
                height: 100%;
                margin-right: 1%;
                background-image: url("../img/cosmic_azeroth_clouds.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 100%;
            }

            #azeroth {
                height: 100%;
                margin-right: 7%;
            }
        }
    }
}

.cosmic-img {
    height: 100%;
    user-select: none;
    transition: .2s ease-in-out;

    &:hover {
        filter: contrast(1.34);
    }
}