.navbar-container {
  z-index: 999;
  height: 50px;
  margin: 30px 30px 0;
  box-shadow: -2px 2px 10px rgba(#000, .7);
  border-radius: 1px;

  .navbar-content {
    display: flex;
    width: 100%;
    height: 100%;

    background-image: url("../img/nav1.jpg");
    background-size: auto 100%;

    .logo-container {
      flex: 0 0 50px;
      height: 100%;

      .logo-content {
        position: relative;
        width: 100%;
        height: 100%;

        .logo-header{
          position: absolute;
          display: block;
          width: 70px;
          height: 70px;
          top: -10px;
          left: -10px;

          background-image: url("../img/Logo-wow-small.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .btn-nav {
      transition: .3s all linear;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 10px;
      text-transform: uppercase;
      color: #ffd36b;
      font-size: 13px;
      text-shadow: 1px 1px 1px black;
      font-family: "ElseNPL-Light", sans-serif;
      border-left: 2px solid rgba(darken(#ffd36b, 50%), .3);
      background: rgba(#000, .2);

      a {
        margin-top: 5px;
      }

      &:hover {
        color: whitesmoke;
      }
    }

    .left-info-container {
      flex: 1;
      height: 100%;
      width: auto;

      .left-info-content {
        width: auto;
        height: 100%;

        display: flex;
        align-items: center;
        margin-left: 10px;

        .map-dropbox {
          height: 100%;
          width: auto;
          position: relative;

          .map-dropbox-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
          }

          .show {display: block;}
        }
      }
    }

    .right-info-container {
      height: 100%;

      .right-info-content {
        width: auto;
        height: 100%;

        display: flex;
        align-items: center;

        .connexion, .subscrib, .test {
          transition: .3s all linear;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 10px;
          text-transform: uppercase;
          color: #ffd36b;
          font-size: 13px;
          text-shadow: 1px 1px 1px black;
          font-family: "ElseNPL-Light", sans-serif;
          border-left: 2px solid rgba(darken(#ffd36b, 50%), .3);
          background: rgba(#000, .2);

          a {
            margin-top: 5px;
          }

          &:hover {
            color: whitesmoke;
          }
        }

        .subscrib {
          background-image: url("../img/nav2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}