$breakpoints: (
        small: 576px,
        medium: 768px,
        large: 992px,
        xlarge: 1200px,
        xxlarge: 1440px,
) !default;

$cosmic-blur-radius: 15px;
$cosmic-color: rgba(#FFF, .8);