.video-container {
    z-index: 1;
    min-width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .videoplayer {
        position: relative;
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top:0;
            left: 0;
            z-index: -999;

            &:before {
                left: 0;
                top: 0;
                position: fixed;
                width: 100%;
                height: 100%;
                content: '';
                z-index: 9999999999999;
                background: red;
            }
        }
    }
}