@import '../../../node_modules/leaflet/dist/leaflet.css';

html {
  cursor: url("../img/cursor_normal.gif"), auto;
  max-width: 100%;
  overflow-x: hidden;

  a, button {
    cursor: url("../img/cursor_link.gif"), auto;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_fonts.scss";
@import '_var.scss';
@import "_mixin.scss";
@import '_video.scss';
@import '_map.scss';
@import "_nav.scss";
@import './_fancy.scss';

.wow-elem-container {

  height: 100%;

  /*.wow-elem-blur {
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }*/

  .wow-elem-content {
    //background: rgb(0,0,0);
    padding: 5px 0;
    height: 100%;


    .wow-elem-back-container {

      height: auto;
      min-height: 480px;


      margin: 0 7px;

      border: 1px solid darken(#ffd36b, 10%);
      display: flex;

      @include breakpoint(large){
        flex-direction: column;
      }

      .movie-info {
        flex: 0 0 60%;
        width: 60%;

        @include breakpoint(xlarge){
          flex: 0 0 50%;
          width: 50%;
        }

        @include breakpoint(large){
          flex: 0 0 100%;
          width: 100%;

          padding-bottom: 1rem;
        }
      }

      .movie-trailer-container {
        z-index: 20;
        flex: 0 0 40%;
        width: 40%;
        display: flex;
        height: auto;

        @include breakpoint(xlarge){
          flex: 0 0 50%;
          width: 50%;
        }

        @include breakpoint(large){
          flex: 0 0 100%;
          width: 100%;
        }

        .movie-trailer-content{
          height: 280px;
          width: 460px;

          @include breakpoint(xlarge){
            margin-left: auto;
            margin-right: auto;
          }

          @include breakpoint(large){
            height: 220px;
            width: 400px;
          }

          margin-top: auto;
          margin-bottom: 1rem;

          //margin: auto 5rem 1rem auto;

          .movie-trailer {
            width: 100%;
            height: 100%;
            padding: 5px;
            border: 2px solid #ffd36b;
            box-shadow: 0 0 10px black;
          }
        }
      }

      &.shadowlands-bg {
        background-image: url("../img/17628-shadowlands-craft-your-own-custom-legendary-in-the-forge-of-domination.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
      }

      &.movie-bg {
        background-image: url("../img/mscw.wow.banner-image.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
      }

      &.battleforazeroth-bg {
        background-image: url("../img/71gkTAAvm9L._AC_SL1500_(1).jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        display: flex;

        .pnl-info-azeroth {
          flex: 0 0 70%;
          max-width: 70%;

          @include breakpoint(large){
            margin: 0;
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 1rem;
            padding-top: 1rem;
          }
        }
      }

      .video-shadowlands-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 57%;
        flex: 0 0 57%;
        filter: drop-shadow(-10px 0px 10px black);

        .video-shadowlands {
           overflow: hidden;
           object-fit: cover;
           width: 100%;
           height: 100%;

           clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
         }
      }

      &:after {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';

        background-image: linear-gradient(to right, rgba(12.94%, 14.90%, 22.75%, .8) 150px, rgba(20.39%, 22.35%, 29.02%, 0.6) 100%);
      }

      .pnl-info {
        z-index: 10;
        width: auto;

        .head {
          position: relative;
          color: whitesmoke;
          display: block;
          width: 100%;
          font-family: 'morpheus', sans-serif;
          .title {
            //font-size: 4rem;
            letter-spacing: 2px;
          }
          /*.subtitle {
            position: absolute;
            top: 3px;
          }*/
        }

        .body {
          color: whitesmoke;
          font-family: "ElseNPL-Light", sans-serif;
          font-size: 1.2rem;
          max-width: 80%;
          margin: 10px 0;

          @include breakpoint(large){
            max-width: 100%;
          }
        }
      }

      .shadowlands-info {
        flex: 0 0 53%;
        max-width: 53%;

        @include breakpoint(large){
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      .game-cover-container{
        z-index: 20;

        margin: auto auto auto 14rem;

        flex: 0 0 30%;
        max-width: 30%;

        @include breakpoint(large){
          margin-top: 1rem;
          margin-left: 7rem;
        }

        .game-cover-content{
          transform: rotateZ(4deg);

          @include breakpoint(large){
            transform: rotateZ(0deg);
          }

          height: auto;
          width: 225px;
          box-shadow: 0 0 12px rgba(#000, .8);

          .game-cover {
            width: auto;
            height: auto;
          }
        }
      }

      .wow-elem-base-hero {
        z-index: 10;
        position: absolute;
        width: 246px;
        top: -2rem;

        &.icon-left {
          left: 1rem;
        }

        &.icon-right {
          right: 1rem;
        }

        .wow-elem-hero {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.wow-buy, .wow-information {
  margin-top: 10px;
  color: white;
  padding: 10px;
  /*clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);*/
  //transform: translate();
}

.wow-buy {
  border: 1px solid rgba(#c5371f, .7);
  background-image: url("../img/nav2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wow-information {
  transition: .2s all ease-in-out;
  border: 1px solid rgba(#ffd36b, .4);
  color: #ffd36b;

  &:hover {
    color: white;
    border: 1px solid rgba(#ffffff, .4);
  }
}